/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4237bbea-cx4wb1mg version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 0px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1.2;
						
		    			-webkit-filter:none;filter:none;
						background-size: cover;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -5%;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .multi_layout .helper-div.middle-center  {
		
						padding-left: 5%;
						
						padding-right: 5%;
						
						width: 90%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .background-div  {
			
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg.master.item-box   {
		
						background-color: rgb(185, 179, 169);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-title  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-item-links span  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(35, 35, 35);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .stripe-background  {
		
						opacity: 0.5;
						
						margin-top: -10px;
						
						margin-left: -6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						padding-right: 0px;
						
						margin-top: 55px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						padding-left: 0px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg.item-box > .item-wrapper   {
		
						max-width: 2000px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-item-links span:hover  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(48, 48, 48);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-item-links span:before  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-title  {
		font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						letter-spacing: 0.0em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: 'Playfair Display';
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .blocks-preview-item-links .Link  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-bottom: 5px;
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 1px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .pic-side:after  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .item-effect-tester  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .sub.item-box:after  { 
						background-color: rgba(0, 0, 0, 0.22);
							
		}
	 .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-subtitle  ,  .style-22de1371-zfyxjbq0 .style-4237bbea-cx4wb1mg .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/







































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-so1syyad version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 4px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .inner-pic  {
		
						opacity: 1.0;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .background-div  {
			
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-title  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 67rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: 'Josefin Slab';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-item-links span  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 22px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-element.icon-source  {
		
						margin-top: 0px;
						
						margin-bottom: 0px;
						
						width: 380px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-link-img  {
		
						width: 41px;
						
						margin: 7px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-item-links span:hover  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .inner-pic-holder  {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-item-links span:before  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						font-family: Abel;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .middle_layout .helper-div  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-subtitle  ,  .style-22de1371-zfyxjbq0 .style-22de1371-so1syyad .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.3em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-22de1371-so1syyad #vbid-22de1371-u8tilljr .preview-content-holder{
				
							text-align : center;
					
				}


 .style-22de1371-so1syyad #vbid-22de1371-u5f7xzmc.inner-pic{
				
							background-position : 21.7461% 14.5106%;
					
				} .style-22de1371-so1syyad #vbid-22de1371-sums8bbj.inner-pic{
				
							background-position : 42.9551% 52.2772%;
					
				}










 .style-22de1371-so1syyad #vbid-22de1371-u8tilljr .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-batoi1mh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh.master.item-box   {
		
						position: absolute;
						
						background-color: rgb(185, 179, 169);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-item-links span:hover  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-item-links span:before  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-item-links span  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-title  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-body h1  { font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-left: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-item-links.allow-bg-color  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 50px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .middle_layout .helper-div  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-subtitle  ,  .style-22de1371-zfyxjbq0 .style-22de1371-batoi1mh .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-p4xsn0jj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj.master.item-box   {
		
						background-color: rgb(185, 179, 169);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-title  ,  .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-link-img  {
		
						width: 27px;
						
						margin: 14px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .inner-pic-holder  {
		
						background-color: rgb(42, 42, 42);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 30px;
						
						margin-top: 40px;
						
						margin-left: 30px;
						
						margin-bottom: 40px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-item-links span  ,  .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 15px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 15px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-element.icon-source  {
		
						padding-right: 0px;
						
						width: 500px;
						
						margin-top: 0px;
						
						padding-left: 0px;
						
						margin-bottom: 10px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .middle_layout .helper-div  ,  .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-subtitle  ,  .style-22de1371-zfyxjbq0 .style-22de1371-p4xsn0jj .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-112dce68-5af4bd5r version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .title-holder  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 20px;
						
						margin-bottom: 20px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .Title  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(74, 74, 74);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .background-div  {
		
						background-size: contain;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-title  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-item-links span  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						line-height: 1.4em;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .stripe-background  {
		
						opacity: 0.2;
						
						margin-top: -35px;
						
						margin-left: -6%;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-element.icon-source  {
		
						margin-bottom: 20px;
						
						width: 60px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						padding-left: 0px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .Subtitle  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						font-family: Raleway;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						margin-bottom: 10px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-item-links span:hover  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-element.Link.hover-tester  { 
						color: rgb(50, 158, 212);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-item-links span:before  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .effect-tester  { 
						background-color: rgb(74, 74, 74);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .inner-pic  {
		
						opacity: 0.96;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						letter-spacing: -0.05em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(216, 216, 216);
						
						padding-bottom: 0px;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						padding-left: 0px;
						
						border-radius: 18px;
						
						padding-top: 0px;
						
						border-width: 0px;
						
						background-color: rgb(136, 136, 136);
							
		}
	 .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-subtitle  ,  .style-22de1371-zfyxjbq0 .style-112dce68-5af4bd5r .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























 .style-112dce68-5af4bd5r #vbid-112dce68-crllbwas.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-avllvjpy.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-kmqqa5mo.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-3afergtx.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-sthebdxo.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-lkp6goxm.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-74pbxzl9.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-mgxvh3sa.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-pzi0kbod.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-9612xpdp.inner-pic{
				
							background-size : contain;
					
				} .style-112dce68-5af4bd5r #vbid-112dce68-wfbv7ezn.inner-pic{
				
							background-size : contain;
					
				}








/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-zfyxjbq0 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-22de1371-zfyxjbq0 .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-22de1371-zfyxjbq0 .Subtitle  ,  .master .style-22de1371-zfyxjbq0 .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-22de1371-zfyxjbq0 .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-22de1371-zfyxjbq0 .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-22de1371-zfyxjbq0 .Title  ,  .master .style-22de1371-zfyxjbq0 .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-22de1371-zfyxjbq0 .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-22de1371-zfyxjbq0 .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-22de1371-zfyxjbq0 .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-22de1371-zfyxjbq0 .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-22de1371-zfyxjbq0 .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-22de1371-zfyxjbq0 .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-22de1371-zfyxjbq0.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
				
						line-height: 1.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Abel;
				
						border-width: 0px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}