/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-90a10bb8-fhahsh6e version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-title  ,  .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(133, 106, 63);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 838px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(237, 237, 237);
						
						padding-bottom: 15px;
						
						border-color: rgb(99, 99, 99);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 40px;
						
						margin-left: 5px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(56, 110, 166, 0.77);
						
						padding-right: 20px;
						
						padding-left: 20px;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-item-links span:hover  ,  .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-element.icon-source  {
		
						width: 90px;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-body  {
		
						font-family: Montserrat;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(42, 42, 42);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						font-weight: bold;
						
						margin-top: 15px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 248, 0, 0);
							
		}
	
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .inner-pic  {
		
						opacity: 0.46;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .middle_layout .helper-div  ,  .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-90a10bb8-fhahsh6e .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(42, 42, 42);
						
						letter-spacing: 0.25em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


 .style-90a10bb8-fhahsh6e #vbid-90a10bb8-0rkjis6x .preview-content-wrapper{
				
							text-align : center;
					
				}

 .style-90a10bb8-fhahsh6e #vbid-90a10bb8-0rkjis6x .preview-content-holder{
				
							text-align : center;
					
				}















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-batoi1mh version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh.master.item-box   {
		
						position: absolute;
						
						background-color: rgb(185, 179, 169);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-item-links span:hover  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-item-links span:before  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-title  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-body h1  { font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-left: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-item-links.allow-bg-color  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 50px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .middle_layout .helper-div  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-22de1371-batoi1mh .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-16e008fe-tmmjipba version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 750px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 25%;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .inner-pic  {
		
						opacity: 1;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .background-div  {
			
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-title  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-body h1  { 
						line-height: 0.9em;
						font-size:calc( 10px + ( 43rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 9rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.25em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						width: 90px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-link-img  {
		
						width: 44px;
						
						margin: 5px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-item-links span:before  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-item-links span:hover  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .middle_layout .helper-div  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-16e008fe-tmmjipba .preview-body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.35em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						font-family: 'Times New Roman';
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-16e008fe-tmmjipba #vbid-16e008fe-p0a6z2mr .preview-content-holder{
				
							text-align : center;
					
				}


 .style-16e008fe-tmmjipba #vbid-16e008fe-u6vucud9.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}









 .style-16e008fe-tmmjipba #vbid-16e008fe-p0a6z2mr .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-p4xsn0jj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj.master.item-box   {
		
						background-color: rgb(185, 179, 169);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-title  ,  .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-link-img  {
		
						width: 27px;
						
						margin: 14px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .inner-pic-holder  {
		
						background-color: rgb(42, 42, 42);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 30px;
						
						margin-top: 40px;
						
						margin-left: 30px;
						
						margin-bottom: 40px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 15px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 15px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-element.icon-source  {
		
						padding-right: 0px;
						
						width: 500px;
						
						margin-top: 0px;
						
						padding-left: 0px;
						
						margin-bottom: 10px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .middle_layout .helper-div  ,  .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-22de1371-p4xsn0jj .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-78c30e1b-yhp8v9fd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd  .preview-content-holder  {
		
						margin-bottom: 10px;
						
						text-align: left;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 300px;
							
		}
	
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .inner-pic  {
		
		    			-webkit-filter:none;filter:none;
						background-size: cover;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .background-div  {
			
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-title  ,  .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(133, 106, 63);
						
						letter-spacing: 0.0em;
						
						margin-top: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-body  {
		
						margin-top: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .stripe-background  {
		
						opacity: 0.5;
						
						margin-left: -6%;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						font-weight: bold;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-item-links span:hover  ,  .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(48, 48, 48);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-item-links span:before  ,  .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-title  {
		font-size:calc( 10px + ( 27rem - 10rem ) );
						font-family: 'Playfair Display';
						
						letter-spacing: 0.0em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
							
		}
	
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .blocks-preview-item-links .Link  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-bottom: 5px;
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 1px;
							
		}
	 .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-78c30e1b-yhp8v9fd .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(42, 42, 42);
						
						letter-spacing: 0.25em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-16e008fe-yc9vleib version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-16e008fe-yc9vleib .title-holder  {
		
						text-align: center;
							
		}
	 .master .style-16e008fe-yc9vleib .preview.image-cover  {
		
						min-height: 250px;
							
		}
	 .master .style-16e008fe-yc9vleib .Title  ,  .master .style-16e008fe-yc9vleib .Body h1  { font-size:calc( 10px + ( 37rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-right: 50px;
						
						margin-top: 30px;
						
						margin-left: 50px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-16e008fe-yc9vleib  .preview-content-holder  {
		
						text-align: left;
						
						max-width: 400px;
						
						margin-right: 20px;
						
						margin-top: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 20px;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .master .style-16e008fe-yc9vleib .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);
							
		}
	 .master .style-16e008fe-yc9vleib .item-links span  {
		
						font-style: italic;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						max-width: 500px;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: 'Times New Roman';
						
						background-color: rgb(66, 117, 83);
						
						margin-left: 50px;
							
		}
	 .master .style-16e008fe-yc9vleib .preview-title  ,  .master .style-16e008fe-yc9vleib .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-top: 20px;
						
						margin-bottom: 5px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-16e008fe-yc9vleib .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-16e008fe-yc9vleib .preview-item-links span  ,  .master .style-16e008fe-yc9vleib #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(50, 50, 50);
						
						padding-bottom: 10px;
						
						border-color: rgb(147, 147, 147);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(159, 14, 14, 0);
							
		}
	 .master .style-16e008fe-yc9vleib .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 23rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-16e008fe-yc9vleib .item-links  {
		
						text-align: center;
							
		}
	 .master .style-16e008fe-yc9vleib .preview-element.icon-source  {
		
						width: 50px;
							
		}
	 .master .style-16e008fe-yc9vleib .body-holder  {
		
						text-align: justify;
							
		}
	 .master .style-16e008fe-yc9vleib .Body  {
		
						margin-bottom: 20px;
						
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						margin-left: 50px;
						
						margin-right: 50px;
							
		}
	 .master .style-16e008fe-yc9vleib .Subtitle  ,  .master .style-16e008fe-yc9vleib .Body h2  { 
						font-style: italic;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						letter-spacing: 0.05em;
						
						margin-right: 50px;
						
						margin-top: 15px;
						
						margin-left: 50px;
						
						margin-bottom: 15px;
						
						font-family: ff-tisa-web-pro;
							
		}
	 .master .style-16e008fe-yc9vleib .page-image-cover  {
		
						margin-bottom: 30px;
							
		}
	 .master .style-16e008fe-yc9vleib .title-wrapper  {
		
						max-width: 1124px;
							
		}
	 .master .style-16e008fe-yc9vleib .subtitle-wrapper  {
		
						max-width: 1114px;
							
		}
	 .master .style-16e008fe-yc9vleib  .preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .master .style-16e008fe-yc9vleib .body-wrapper  {
		
						max-width: 700px;
							
		}
	 .master .style-16e008fe-yc9vleib .preview-item-links span:hover  ,  .master .style-16e008fe-yc9vleib .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(0, 0, 0);
							
		}
	 .master .style-16e008fe-yc9vleib .subtitle-holder  {
		
						text-align: center;
							
		}
	 .master .style-16e008fe-yc9vleib .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(34, 34, 34);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-16e008fe-yc9vleib.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .master .style-16e008fe-yc9vleib .preview-subtitle  ,  .master .style-16e008fe-yc9vleib .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(35, 35, 35);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: 'Roboto Slab Light';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-22de1371-zfyxjbq0 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Subtitle  ,  .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Title  ,  .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .style-16e008fe-yc9vleib .style-22de1371-zfyxjbq0 .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-22de1371-zfyxjbq0.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: -0.05em;
				
						line-height: 1.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Abel;
				
						border-width: 0px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.05em;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-ba276f0f-tq4wi5j8 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8  .preview-content-holder  {
		
						margin-bottom: 10px;
						
						text-align: center;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 600px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						font-family: Arial;
						
						margin-top: 10px;
						
						line-height: 1.5em;
						
						margin-bottom: 10px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .inner-pic  {
		
						opacity: 1.0;
						
		    			-webkit-filter:none;filter:none;
						background-size: cover;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 #pagination-holder  {
		
						font-family: Times New Roman;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .background-div  {
			
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-title  ,  .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-body h1  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 27rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-item-links span  ,  .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 #sr-basket-widget *  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(0, 0, 0);
							
		}
	
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .stripe-background  {
		
						opacity: 0.5;
						
						margin-left: 0%;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-subtitle  {
		
						font-family: Montserrat;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-item-links span:hover  ,  .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(48, 48, 48);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-item-links span:before  ,  .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-title  {
		
						letter-spacing: 0.0em;
						
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 27rem - 10rem ) );
						margin-top: 15px;
						
						margin-bottom: 10px;
							
		}
	
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .blocks-preview-item-links .Link  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-bottom: 5px;
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-subtitle  ,  .style-16e008fe-yc9vleib .style-ba276f0f-tq4wi5j8 .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
